body {
	background-image: linear-gradient(to bottom right, black,black,black,black);
	background-color: #4B0082;
	color: #FFFF00;
	font-family: 'Big Shoulders Display', cursive;
}

h1 {
	font-size: 90px;
	margin: 0px;
	padding: 0px;
	font-family: 'Stalinist One', cursive;
	margin-bottom: 0;
	}
img {
	height: 1000
	width: 1000;
	display: flex;
	border-radius: 50%
}


.image2 {
	height: 200px;
	width:200px;
	max-height: 30;

}
.image3 {
	height: 200px;
	width: 200px;
	color: #4B0082 

}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*width: 200px; */
	background-color: black;
	overflow: hidden;
	background-color: #48047d;
	position: fixed; 
	font-family: 'Turret Road', cursive;