body {
	background-image: url(img/grbg.png);
	background-color: black;
	color: #97FF54;
	font-family: 'Big Shoulders Display', cursive;
}

h1 {
	font-size: 90px;
	margin: 0px;
	padding: 0px;
	font-family: 'Stalinist One', cursive;
	margin-bottom: 0;
	}
.image1 {
	height: 100
	width: 100;
	padding: 100;
	display: flex;
	border-radius: 50%;
	margin-left: 6%;
	margin-top: -5%;
}


.image2 {
	height: 300px;
	width:400px;
	margin: 1px;
	max-height: 50;

}
.image3 {
	height: 350px;
	width: 350px;
	color: #4B0082 
	margin left: 30%;
	margin-top: -5%;

}

.image4 {
	height: 300px;
	width: 400px;
	margin-left: 60%;
	margin-top: -10%;
}

.image5 {
	margin-right: 100px;
	height: 400px;
	width: 450px;
	color: #4B0082 
	margin-top: -50%;



}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*width: 200px; */
	background-color: black;
	overflow: hidden;
	background-color: #48047d;
	position: fixed; 
	font-family: 'Turret Road', cursive;
}



li a {
	display:block;
	color:coral;
	text-align: center;
	padding: 8px 70px;
	text-decoration: none;
	font-family: 'Turret Road', cursive;

}
li a:hover {
	background-color: #97FF54;
	color: #48047d;
	font-family: 'Turret Road', cursive;


}
li{
	float: left;
	font-family: 'Turret Road', cursive;

}
li a{
	text-align: center;
	font-family: 'Turret Road', cursive;

}
.active {
	background-color: ;
}

.row::after {
  content: "";
  clear: both;
  display: table;