







body {
	background-image: url(img/grbg.png);
	background-color: black;
	color: pink;
	font-size: 100%;
    font-family: 'Big Shoulders Display', serif;
}

h1 {
	font-size: 90px;
	margin: 0px;
	padding: 0px;
	font-family: 'Frijole', cursive;
	margin-bottom: 0;
	color: #97FF54;
	}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*width: 200px; */
	background-color: black;
	overflow: hidden;
	background-color: #48047d;
	position: fixed; 
	font-family: 'Turret Road', cursive;


}

li a {
	display:block;
	color:coral;
	text-align: center;
	padding: 8px 70px;
	text-decoration: none;
	font-family: 'Turret Road', cursive;

}
li a:hover {
	background-color: #97FF54;
	color: #48047d;
	font-family: 'Turret Road', cursive;

}
li{
	float: left;
	font-family: 'Turret Road', cursive;

}
li a{
	text-align: center;
	font-family: 'Turret Road', cursive;

}
.active {
	background-color: ;
}
 



.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
